<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Azile - Sua terapeuta.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Chatbot Azile - Sua terapeuta.</h1>
    </header>
    <main>
        <div class="chat-container">
            <div class="chat-log" id="chatLog">
                <div class="message">
                    <strong>Azile:</strong>
                    Olá, sou Azile! Serei sua terapeuta hoje. Como posso ajudar?
                </div>
            </div>
        
            <div class="user-input">
                <input type="text" id="userInput" placeholder="Escreva sua mensagem aqui...">
                <button id="sendButton">Send</button>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
